:root {
  --primary-color: #e50914;
  --primary-color-dark: #bb0811;
  --secondary-color: #000000;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

a {
  text-decoration: none;
}

.logo-img {
  width: 100%;
}

.user-img {
  width: 2rem;
  border-radius: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--extra-light);
}

.header {
  padding: 1rem;
  min-height: calc(100vh - 75px);
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  gap: 1rem;
}

.container__left,
.container__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  padding: 2rem;
  max-width: 450px;
  height: 90%;
  width: 100%;
}

.container__right {
  flex-direction: column;
  align-items: flex-start;
}


.title {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
}

.title h1 {
  font-size: 2.75rem;
  font-weight: 900;
}

.title span {
  font-size: 1.5rem;
}

.title span i {
  color: yellow;
}


.show__about {
  font-size: 0.9rem;
  line-height: 1.75rem;
}

.show__details {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 150px auto;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.show__details span:nth-child(odd) {
  color: var(--text-light);
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .cover {
    height: 600px;
  }
}

@media (max-width: 500px) {
  .episode__card {
    width: 100%;
  }
}
